<tbody>
    <tr>
      <td>{{id}}</td>
      <td>{{receipient}}</td>
      <td>{{type}}</td>
      <td>{{schedule}}</td>
      <td><button class="delete-flyer-btn btn waves-effect waves-light" type="submit" name="action">Delete Flyer
            <i class="material-icons right">delete</i></td>
    </tr>
  </tbody>

  <script src = "javascript/delete-flyer.js"></script>

 