<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row">
        <h1 class="header center orange-text">Create a Flyer</h1>
        <form class="col s12 new-flyer-form">
          <div class="row">
            <h6>Who would you like to send your flyer to?</h6>
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <br>
            <h6>What type of flyer would you like to send?</h6>
            <div class="input-field col s12">
                <select id="flyerChoice">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Daily</option>
                    <option value="2">Weekly</option>
                    <option value="3">Monthly</option>
                </select>
            </div>
            <br>
            <h6>How often would you like to send your flyer?</h6>
            <div class="input-field col s12">
              <select id="duration">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Daily</option>
                  <option value="7">Weekly</option>
                  <option value="31">Monthly</option>
              </select>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
        </form>
      </div>
    </div>
  </div>

  <script src = "/javascript/add-flyer.js"></script>