<form class="login-form">
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row">
          <h1 class="header center orange-text">Log In</h1>
          <form class="col s12 login-form">
            <div class="row">
              <div class="input-field col s12">
                <input id="email-login" type="text" class="validate">
                <label for="email-login">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password-login" type="password" class="validate">
                <label for="password-login">Password</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
</form>
<!--THE BROWSER WILL MAKE A NEW REQUEST FOR THE JS FILE AFTER 
THE TEMPLATE HAS RENDERED AND IT SEES THE LINKED SCRIPT ELEMENT -->
  <script src = "javascript/login.js"></script>