  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row">
        <h1 class="header center orange-text">Create an Account</h1>
        <form class="col s12 signup-form">
          <div class="row">
            <div class="input-field col s12">
              <input id="email-signup" type="email" class="validate">
              <label for="email-signup">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password-signup" type="password" class="validate">
              <label for="password-signup">Password</label>
            </div>
          </div>
          <p>
            By creating an account, I confirm that I have permission to send a MailFlyer to the email address.
          </p>
          <button class="btn waves-effect waves-light" type="submit" name="action">
      <a href="/signup" type="submit">Sign Up</button>
          </button>
        </form>
      </div>
    </div>
  </div>